<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
     
  </head>
  <body>
   
    <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><%= name %></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/contact">About</a></li>
              <li><a href="/orders">Orders</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
      <!-- www.google.com/fonts/specimen/Ubuntu -->
      <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->
      <div class="row-fluid heading">
        <div class="span12">
          <h1><%= product_name %></h1>
        </div>
      </div>
      <div class="row-fluid subheading">
        <div class="span12">
          <!-- Special typography from Bootstrap for lead paragraph. -->
          <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
          <p class="lead"><%= product_short_description %></p>
        </div>
      </div>
<!-- Delete from here -->

          <div class="row-fluid">
          <div class="span6 offset3 id=tryme">
            <!-- AddThis Button BEGIN -->
            <div class="well">
            <form id="verifyCode"  method="post" action="/greeting">
              <h2 class="form-signin-heading"><%= frameTitle %></h2>
              <p>Please enter the code you received on the phone</p>
              <span for="code" id="spanPhNo" ng-model="phNo" name="namephoneNo" class="label label-info"><%= phoneNo %></span>
              <!--<input type="tel" ng-model="fromPhone" class="input-block-level" placeholder="Phone Number" id="phoneNo" > -->
              <input type="hidden" class="input-block-level uneditable" id="phNo" name="phoneNo" placeholder={{phNo}}>
              <script>
               //var phNo= $('span[name=namephoneNo]').val();
               var phNo= $('span[name=namephoneNo]').text();
               $('input[name=phoneNo]').val(phNo);
              </script>
              <input type="text" ng-model="code" class="input-block-level" placeholder="5 digit Code" id="codeid" name="code">
              <div class="pull-right">
                 <!--<input type="submit" class="btn btn-primary" value="Verify Phone"> -->
                <!-- <a id="verifyCodeBotton" class="btn btn-success" href="/greeting" role="button" data-toggle="modal">Verify Phone</a>  -->
                <button id="verifyCodeButton" type="submit">Submit</button>
              </div>
            </form>
            </div>





            <!-- AddThis Button END -->
          </div>
          </div>
      


<!-- delete till here -->
      <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
      <div class="row-fluid faq">
          <div class="span10 offset1">
            <h3>FAQ</h3>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseOne">
                    What does FAQ stand for?
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Frequently Asked Question.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseTwo">
                    What's a Frequently Asked Question?
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    A question which is commonly asked by users.
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>

      <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
      <!-- http://creativecommons.org/licenses/ -->
      <div class="row-fluid footer">
        <div class="span12">
          <p>This work is licensed under
            the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
              By-SA 3.0
            </a>, without all the cruft that would otherwise be
            put at the bottom of the page. <%= codeid %></p>
        </div>
      </div>
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42843113-1', 'bitstart.net');
  ga('send', 'pageview');

</script>

<script >
$("#verifyCodeButton").click(function (e) {
    e.preventDefault();
    //alert($('#phoneNo'));
    //alert($('#code'));
                //phoneNo:  $form.find(".labelPhoneNo").text()
    var $form = $(this), data = $form.serialize();
    if ($form.find(".button").length && $form.find(".button").val() ) {
        data = {
                data: $form.find("input, select, textarea, button, label").val()
                phoneNo: $('#namephoneNo').text()
                code1: $('#codeid').val()
                code2: $('#codename').val()
               };
    }
    $.redirect($form.attr("action"), data, function (info) {
        $form.html(info);
    });
});

</script>
  </body>
</html>
